<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Welcome to Nodee</title>

        <style>
            * {
                font-family: 'Arial', sans-serif;
                font-size: 14px;
            }

            h1 {
                font-size: 35px;
                font-weight: bold;
            }

            .container {
                display: block;
                width: 500px;
                max-width: 100%;
                margin: 35px auto;
                line-height: 200%;
            }
        </style>
    </head>

    <body>
        <div class="container">
            <h1>Welcome to Nodee!</h1>
            Your app <i>{{ appName }}</i> is up and running! 
            <br />This is an example page. Feel free to customize your application now!

            <br /><br />
            &copy; 2016 <a href="http://thinhit.net/">ThinhIT</a>
        </div>
    </body>
</html>